.advantage {
  text-align: center;
}

.advantage__wrapper {
  padding-top: 25px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

// .advantage__img-wrapper {
//   max-height: 100%;
// }

// .advantage__img {
//   width: 100%;
//   height: auto;
//   display: block;
// }

.advantage--accent-bg {
  color: $light-color;
  background-color: $main-color;
}

.advantage--grey-bg {
  background-color: $bg-grey;
}
