.banner {
  position: relative;
  z-index: 1;

  height: 157px;
  width: 100%;

  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    content: '';
    display: block;
    width: 100%;
    height: 100%;

    background-image: url(../../img/text-sedona.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 2;

    content: '';
    display: block;
    width: 100%;
    height: 100%;

    background-image: url(../../img/banner-triangle.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
  }
}

.banner--index {
  height: 389px;
  background-position: center;

  &::before {
    background-image: url(../img/text-sedona-index.svg);
  }
}
