.button {
  display: inline-block;
  padding: 14px 32px 17px;

  color: $light-color;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $main-color;
  border: none;
}

.button:hover,
.button:focus {
  background-color: $main-color-hover;
}

.button:active {
  background-color: $main-color-down;
  color: opacify($color: $light-color, $amount: 0.3);
}

.button:disabled {
  background-color: $disabled-color;
}


.button--toggle-menu {
  position: relative;

  display: block;
  width: 23px;
  height: 4px;
  margin: 12px 4px;

  border: none;
  background-color: $main-color;

  &:before,
  &:after {
    position: absolute;
    left: 0;

    content: '';
    display: block;
    width: 23px;
    height: 4px;

    background-color: $main-color;
  }

  &::before {
    top: 8px;
  }

  &::after {
    bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
