.find-hotel {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 33px;
  padding-bottom: 49px;

  text-align: center;
}

.find-hotel__title {
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.find-hotel__text {
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.find-hotel__wrapper {
  margin: 0 auto;
  max-width: 458px;
}

.find-hotel__button {
  display: block;
  max-width: 458px;
}
