.main-nav {
  position: relative;
}

// Общие стили кнопки .main-nav__toggle
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;

  display: block;
  width: 56px;
  height: 56px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  // Смена цвета для иконки
  &:hover .main-nav__toggle-icon {
    opacity: .6;
  }

  &:active .main-nav__toggle-icon {
    opacity: .3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

// Центрирование иконки
.main-nav__toggle-icon {
  margin: auto;
}

// Бургер - когда у блока .main-nav модификатор --closed
.main-nav--closed .main-nav__toggle-icon {
  position: relative;

  content: '';
  width: 22px;
  height: 4px;

  background-color: $main-color;

  &::before,
  &::after {
    position: absolute;

    content: '';
    display: block;
    width: 22px;
    height: 4px;

    background-color: $main-color;
  }

  &::before {
    top: 8px;
  }

  &::after {
    bottom: 8px;
  }
}

// Крестик - когда у блока .main-nav модификатор --opened
.main-nav--opened .main-nav__toggle-icon {
  position: relative;

  content: '';
  display: block;
  width: 22px;
  height: 4px;

  background-color: transparent;

  &::before,
  &::after {
    position: absolute;

    content: '';
    display: block;
    width: 25px;
    height: 4px;

    // background-color: $main-color;
    background-color: $light-color;

  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

// Скрытие кнопок при выключеном JS
.main-nav-nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__wrapper {
  display: none;
}

// Этот селектор обязательно должен идти после
// .main-nav--closed .main-nav__wrapper
// чтобы при выключенном JS меню отображалось
.main-nav-nojs .main-nav__wrapper {
  display: block;
}

// Анимация для мобильного меню
@keyframes downMenu {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

// ! Селектор, из-за которого, только мобильное меню наезжает на баннер.
// ! Он специально так сгруппирован, если удалить все в нижестоящем
// ! медиазапросе то, он так делать не будет.
@media (max-width: $mobile-width-only) {
  .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    width: 100%;
  }

  .main-nav--opened .main-nav__list {
    animation-name: downMenu;
    animation-duration: 1s;
  }
}
