.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-list__item {
  text-align: center;
}

.menu-list__link {
  display: block;

  font-size: 18px;
  line-height: 40px;
  color: $light-color;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;

  background-color: $main-color;
}

.menu-list__link:hover,
.menu-list__link:focus {
  background-color: $main-color-hover;
}

.menu-list__link:active {
  color: opacify($color: $main-color, $amount: .3);
  background-color: $main-color-down;
}

.menu-list__link--current {
  cursor: default;
}
