.page-header {
  min-height: 56px;
}

.page-header__logo-wrapper {
  position: relative;
  width: auto;
  height: 56px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

.page-header__logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}
