.page-header {
  min-height: 56px;
}

.page-header__logo-wrapper {
  position: relative;
  width: auto;
  height: 56px;
}

.page-header__logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}
