.page-footer {
  margin: 0 auto;

  padding-top: 28px;
  padding-bottom: 22px;

  text-align: center;

  @media (min-width: $tablet-screen) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;

    text-align: left;
  }
}

.page-footer__hash-tag {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
