.photo {
  padding-top: 20px;
  padding-bottom: 15px;

  border-top: solid $disabled-color 2px;
}

.photo:last-child {
  border-bottom: solid $disabled-color 1px;
}

.photo__img {
  max-width: 100%;
  height: auto;
  // padding: 20px;
}

.photo__name {
  font-size: 14px;
  text-transform: uppercase;
}

.photo__author {
  text-transform: none;
}

.photo__thumbs-up {
  border: none;
  background: transparent;
  opacity: .5;
  cursor: pointer;
}

.photo__thumbs-up:hover {
  opacity: 1;
  transition: 200ms;
}

.photo__thumbs-up--active {
  opacity: 1;
}

.photo__amount-likes {
  color: $black-color;
  font-weight: bold;
}
