@media (min-width: $tablet-width) {
  .photo-album {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
  }

  .photo-album__big {
    flex-basis: 100%;
  }

  .photo-album__small {
    flex-basis: 50%;
  }
}

@media (min-width: $desktop-width) {
  .photo-album {
    margin: 0;
  }

  .photo-album__big {
    flex-basis: 100%;
  }

  .photo-album__small {
    flex-basis: 33%;
    flex-grow: 1;
  }
}
