*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
button,
input {
  font-family: 'PT Sans', sans-serif;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix {
  clear: both;
}

.container {
  margin: 0 auto;
  max-width: 1200px;

  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  background-color: $light-color;

  @media (max-width: 768px) {
    width: 100%;
  }
}
