// Цвета
$main-color: #81B3D2;
$main-color-hover: #669EC0;
$main-color-down: #5496BD;
$light-color: #ffffff;
$disabled-color: #E5E5E5;
$bg-grey: #EEEEEE;
$black-color: #000000;
$regular-text-color: #333333;
$input-bg: #f2f2f2;
$input-img-bg: #e6e6e6;

// Размеры устройств
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
